fastapi
uvicorn[standard]
python-jose[cryptography]
bcrypt>=4.1.0
motor
pymongo
PyMuPDF
python-multipart
pydantic
pydantic-settings
python-dotenv
scikit-learn
sentence-transformers
torch
transformers
reportlab
easyocr
apscheduler
